html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --Green500: hsl(158, 36%, 37%);
  --Green700: hsl(158, 42%, 18%);
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");

body {
  background-color: var(--Cream);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 650px;
  position: fixed;
}

footer {
  margin-top: auto;
}

.product-container {
  background-color: var(--White);
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.product-image {
  height: 100%;
}

.product-image img {
  width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-right: 28px;
  margin-left: 20px;
  height: auto;
}

.product-details h3 {
  color: var(--Grey);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 12px;
}

.product-details h1 {
  color: var(--Black);
  font-family: "Fraunces", sans-serif;
  margin-bottom: 10px;
}

.product-details p {
  color: var(--Grey);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.product-details .product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.product-details .product-price h1 {
  color: var(--Green500);
}

.product-details .product-price small {
  text-decoration: line-through;
  color: var(--Grey);
}

.product-details .cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--Green500);
  width: 80%;
  height: 20px;
  border-radius: 10px;
  padding: 1rem;
  gap: 10px;
  color: var(--White);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.product-details .cart p {
  color: var(--White);
  font-weight: bold;
  margin: 0;
}

.product-details .cart svg {
  height: auto;
  width: auto;
}

.product-details .cart:hover {
  background-color: var(--Green700);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 648px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .product-container {
    width: 90%;
    max-width: 375px;
    height: 300px;
    margin-top: 0;
    position: relative;
  }

  .product-image img {
    width: 200px;
    min-height: 100%;
  }

  .product-details h1 {
    font-size: 14px;
  }
  .product-details h3 {
    font-size: 9px;
  }
  .product-details p {
    font-size: 6px;
  }
  .product-details .cart {
    width: 80px;
    height: 20px;
  }
}
